@model IEnumerable<FitFriend.Models.Food>

@{
    ViewBag.Title = "Your Foods";
}

<h2>Your Foods</h2><br />

<p>
    <a href="../Foods/Create" class="btn btn-danger btn-sm">
        <span class="glyphicon glyphicon-plus"></span><strong> Add a Food</strong>
    </a><br /><br />
</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td> 
                   
                   
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
<div class="row">
    <div class="col-lg-4"></div>
    <div style="background-color: #FFDEAD "class="well well-sm col-lg-4">        
        <h3 style="text-align:center;"><strong>Total Calories: @Model.Sum(a => a.Calories)</strong></h3>
    </div>
    <div class="col-lg-4"></div>
</div>
