@model IEnumerable<FitFriend.Models.Exercises>

@{
    ViewBag.Title = "Your Exercises";
}

<h2>Your Exercises</h2><br />

<p>
    <a href="../Exercises/Create" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span><strong> Add an Exercise</strong>
    </a><br /><br />
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaloriesBurned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaloriesBurned)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>



